{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer un Client</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Pour des alertes avancées -->

</head>
<body>
    {%block content%}
    <h1>Supprimer le Client : {{ client.nom }}</h1>
    <p>Êtes-vous sûr de vouloir supprimer ce client ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a href="{% url 'liste_clients' %}">Annuler</a>
    </form>
    {%endblock%}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        title: "{{ message.tags|capfirst }}",
                        text: "{{ message }}",
                        icon: "{{ message.tags }}", // success, error, warning, info
                        confirmButtonText: "OK"
                    });
                {% endfor %}
            {% endif %}
        });
      </script>
</body>
</html>
